<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.meetRegister.mapper.MeetMemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.meetRegister.entity.MeetMember">
        <id column="member_id" property="memberId" />
        <result column="user_id" property="userId" />
        <result column="thesis_id" property="thesisId" />
        <result column="speak" property="speak" />
        <result column="judge" property="judge" />
        <result column="own_forumid" property="ownForumid" />
        <result column="reg_time" property="regTime" />
        <result column="word_path" property="wordPath" />
        <result column="word_name" property="wordName" />
        <result column="ppt_path" property="pptPath" />
        <result column="ppt_name" property="pptName" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="sort" property="sort" />
        <result column="meet_id" property="meetId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        member_id AS "memberId", user_id AS "userId", thesis_id AS "thesisId", speak AS "speak", judge AS "judge", own_forumid AS "ownForumid", reg_time AS "regTime" ,meet_status AS "meetStatus" ,pay_id AS "payId",word_path AS "wordPath",word_name AS "wordName",ppt_path AS "pptPath",ppt_name AS "pptName",province AS "province",city AS "city",sort AS "sort",meet_id AS "meetId"
    </sql>

    <select id="customListAll" resultType="cn.stylefeng.guns.meetRegister.model.result.MeetMemberResult" parameterType="cn.stylefeng.guns.meetRegister.model.params.MeetMemberParam">
        select
        <include refid="Base_Column_List"/>
        from meet_member where 1 = 1
    </select>


    <select id="customList" resultType="cn.stylefeng.guns.meetRegister.model.result.MeetMemberResult" parameterType="cn.stylefeng.guns.meetRegister.model.params.MeetMemberParam">
        select
        <include refid="Base_Column_List"/>
        from meet_member where 1 = 1
            <if test="paramCondition.userId != null and paramCondition.userId != ''">
                and user_id like CONCAT('%',#{paramCondition.userId},'%')
            </if>
            <if test="paramCondition.thesisId != null and paramCondition.thesisId != ''">
                and thesis_id like CONCAT('%',#{paramCondition.thesisId},'%')
            </if>
            <if test="paramCondition.ownForumid != null and paramCondition.ownForumid != ''">
                and own_forumid like CONCAT('%',#{paramCondition.ownForumid},'%')
            </if>
            <if test="paramCondition.thesisId != null and paramCondition.thesisId != ''">
                and thesis_id = #{paramCondition.thesisId}
            </if>
            <if test="paramCondition.payId != null and paramCondition.payId != ''">
                and pay_id = #{paramCondition.payId}
            </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.meetRegister.model.params.MeetMemberParam">
        select
        <include refid="Base_Column_List"/>
        from meet_member where 1 = 1
            <if test="paramCondition.userId != null and paramCondition.userId != ''">
                and user_id like CONCAT('%',#{paramCondition.userId},'%')
            </if>
            <if test="paramCondition.thesisId != null and paramCondition.thesisId != ''">
                and thesis_id like CONCAT('%',#{paramCondition.thesisId},'%')
            </if>
            <if test="paramCondition.ownForumid != null and paramCondition.ownForumid != ''">
                and own_forumid like CONCAT('%',#{paramCondition.ownForumid},'%')
            </if>
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.meetRegister.model.result.MeetMemberResult" parameterType="cn.stylefeng.guns.meetRegister.model.params.MeetMemberParam">
        select
        <include refid="Base_Column_List"/>
        from meet_member where 1 = 1
            <if test="paramCondition.userId != null and paramCondition.userId != ''">
                and user_id like CONCAT('%',#{paramCondition.userId},'%')
            </if>
            <if test="paramCondition.thesisId != null and paramCondition.thesisId != ''">
                and thesis_id like CONCAT('%',#{paramCondition.thesisId},'%')
            </if>
            <if test="paramCondition.ownForumid != null and paramCondition.ownForumid != ''">
                and own_forumid like CONCAT('%',#{paramCondition.ownForumid},'%')
            </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.meetRegister.model.params.MeetMemberParam">
        select
        <include refid="Base_Column_List"/>
        from meet_member where 1 = 1
            <if test="paramCondition.userId != null and paramCondition.userId != ''">
                and user_id like CONCAT('%',#{paramCondition.userId},'%')
            </if>
            <if test="paramCondition.thesisId != null and paramCondition.thesisId != ''">
                and thesis_id like CONCAT('%',#{paramCondition.thesisId},'%')
            </if>
            <if test="paramCondition.ownForumid != null and paramCondition.ownForumid != ''">
                and own_forumid=#{paramCondition.ownForumid}
            </if>
            <if test="paramCondition.userId != null and paramCondition.userId != ''">
                and user_id=#{paramCondition.userId}
            </if>
            <if test="listStatus != null and listStatus != ''">
                and user_id in
                <foreach collection="list" index="index" item="i" open="("
                         separator="," close=")">
                    #{i}
                </foreach>
            </if>
    </select>

    <update id="updateWord">
		update meet_member set word_path = #{wordPath},word_name = #{wordName} where user_id = #{userId}
	</update>

    <select id="customListByUserId" resultType="cn.stylefeng.guns.meetRegister.model.result.MeetMemberResult" parameterType="cn.stylefeng.guns.meetRegister.model.params.MeetMemberParam">
        select
        <include refid="Base_Column_List"/>
        from meet_member where 1 = 1 and user_id = #{userId}
    </select>

    <select id="sortMember" resultType="Long">
        select DISTINCT user_id from meet_member where sort is not null and meet_status=4 ORDER BY sort
    </select>

    <select id="generalMember" resultType="Long">
        select DISTINCT user_id from meet_member where sort is null and (meet_status=4 OR meet_status=6 OR meet_status=7)  ORDER BY province,city
    </select>

</mapper>
