<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.forum.mapper.ForumMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.forum.entity.Forum">
        <id column="forum_id" property="forumId" />
        <result column="forum_name" property="forumName" />
        <result column="set_num" property="setNum" />
        <result column="exist_num" property="existNum" />
        <result column="status" property="status" />
        <result column="register_start_time" property="registerStartTime" />
        <result column="register_end_time" property="registerEndTime" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="location" property="location" />
        <result column="meet_id" property="meetId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        forum_id AS "forumId", forum_name AS "forumName", set_num AS "setNum", exist_num AS "existNum", status AS "status", register_start_time AS "registerStartTime", register_end_time AS "registerEndTime", start_time AS "startTime", end_time AS "endTime", location AS "location", meet_id AS "meetId"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.forum.model.result.ForumResult" parameterType="cn.stylefeng.guns.modular.forum.model.params.ForumParam">
        select
        <include refid="Base_Column_List"/>
        from forum where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.forum.model.params.ForumParam">
        select
        <include refid="Base_Column_List"/>
        from forum where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.forum.model.result.ForumResult" parameterType="cn.stylefeng.guns.modular.forum.model.params.ForumParam">
        select
        <include refid="Base_Column_List"/>
        from forum where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.forum.model.params.ForumParam">
        select
        <include refid="Base_Column_List"/>
        from forum where 1 = 1
        <if test="paramCondition.forumName != null and paramCondition.forumName != ''">
            and forum_name like CONCAT('%',#{paramCondition.forumName},'%')
        </if>
        <if test="paramCondition.meetId != null and paramCondition.meetId != ''">
            and meet_id = #{paramCondition.meetId}
        </if>
    </select>

    <update id="setStatus">
		update forum set status = #{status} where forum_id = #{forumId}
	</update>

    <select id="findById" resultType="cn.stylefeng.guns.modular.forum.model.result.ForumResult" parameterType="cn.stylefeng.guns.modular.forum.model.params.ForumParam">
        select
        <include refid="Base_Column_List"/>
        from forum where 1 = 1 and forum_id = #{forumId}
    </select>
</mapper>
