@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, img,  ol, ul, li, form{ margin:0; padding:0; border:0; list-style:none;box-sizing: border-box !important;}
dl, dt, dd,table,header,nav,input {margin:0; padding:0;list-style:none;box-sizing: border-box !important;}
a {text-decoration:none;}
a:hover {text-decoration:none;}
body{font-family:"Microsoft YaHei",'微软雅黑',system-ui,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,
    Helvetica,Arial,
    sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;overflow-x: hidden}
html{font-size:13.33vw/*100px*/;}

.clearfix:after{content:'';display:block;clear:both;}
.fl{float:left;}
.fr{float:right;}
.pr{position:relative;}
.pa{position:absolute;}
.hide{display:none;}
.show{display:block;}
.inlineBlock{display:inline-block;}

.fontSize12{font-size:.12rem;}
.fontSize14{font-size:.14rem;}
.fontSize16{font-size:.16rem;}
.fontSize18{font-size:.18rem;}
.fontSize20{font-size:.2rem;}
.fontSize22{font-size:.22rem;}
.fontSize24{font-size:.24rem;}
.fontSize26{font-size:.26rem;}
.fontSize28{font-size:.28rem;}
.fontSize30{font-size:.3rem;}
.fontSize32{font-size:.32rem;}

.mCenter{margin:0 auto;}
.mt10{margin-top:.1rem;}
.mr10{margin-right:.1rem;}
.mr20{margin-right:.2rem;}
.mb10{margin-bottom:.1rem;}
.mb15{margin-bottom:.15rem;}
.mb20{margin-bottom:.2rem;}
.mb30{margin-bottom:.3rem;}
.mb40{margin-bottom:.4rem;}
.ml10{margin-left:.1rem;}


.p10{padding:.1rem;}
.pt10{padding-top:.1rem;}
.pr10{padding-right:.1rem;}
.pb10{padding-bottom:.1rem;}
.pl10{padding-left:.1rem;}

.widthC{max-width:1200px;}

.input{border:none;}

.button{border:none;padding:0;outline:none;cursor:pointer;}

.language-select{top:.13rem;right:0;font-size:0;}
.language-select-box{display: inline-block;}
.language-select-btn{vertical-align:top;cursor:pointer;}
.language-select-icon{vertical-align: top;}
.language{width:.6rem;height:.3rem;overflow:hidden;text-align:center;vertical-align: middle;}
.language a{display:block;color:#fff;height:.3rem;line-height:.3rem;}
.language a:last-child{line-height:.4rem;height:.4rem;}
.language a:last-child:hover{background:rgba(255,255,255,0.5);border-radius:4px;}
.language a:last-child.hover{background:rgba(255,255,255,0.5);border-radius:4px;}


@media screen and (max-width: 769px) {
    .pc{display:none;}
    .mobile{display:block;}
}
@media screen and (min-width: 769px) {
    .pc{display:block;}
    .mobile{display:none;}
}




