<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.thesis.mapper.ThesisMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.thesis.entity.Thesis">
        <id column="thesis_id" property="thesisId" />
        <result column="thesis_title" property="thesisTitle" />
        <result column="eng_title" property="engTitle" />
        <result column="thesis_user" property="thesisUser" />
        <result column="status" property="status" />
        <result column="review_result" property="reviewResult" />
        <result column="isgreat" property="isgreat" />
        <result column="great_num" property="greatNum" />
        <result column="great_id" property="greatId" />
        <result column="apply_time" property="applyTime" />
        <result column="thesis_text" property="thesisText" />
        <result column="score" property="score" />
        <result column="review_user" property="reviewUser" />
        <result column="great" property="great" />
        <result column="cn_keyword" property="cnKeyword" />
        <result column="eng_keyword" property="engKeyword" />
        <result column="cn_abstract" property="cnAbstract" />
        <result column="eng_abstract" property="engAbstract" />
        <result column="thesis_direct" property="thesisDirect" />
        <result column="thesis_path" property="thesisPath" />
        <result column="file_name" property="fileName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        thesis_id AS "thesisId", thesis_title AS "thesisTitle", eng_title AS "engTitle", thesis_user AS "thesisUser", status AS "status", review_result AS "reviewResult", isgreat AS "isgreat", great_num AS "greatNum", great_id AS "greatId", apply_time AS "applyTime", thesis_text AS "thesisText", score AS "score", review_user AS "reviewUser", great AS "great", cn_keyword AS "cnKeyword", eng_keyword AS "engKeyword", cn_abstract AS "cnAbstract", eng_abstract AS "engAbstract", thesis_direct AS "thesisDirect", thesis_path AS "thesisPath", file_name AS "fileName"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.thesis.model.result.ThesisResult" parameterType="cn.stylefeng.guns.thesis.model.params.ThesisParam">
        select
        <include refid="Base_Column_List"/>
        from thesis where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.thesis.model.params.ThesisParam">
        select
        <include refid="Base_Column_List"/>
        from thesis where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.thesis.model.result.ThesisResult" parameterType="cn.stylefeng.guns.thesis.model.params.ThesisParam">
        select
        <include refid="Base_Column_List"/>
        from thesis where 1 = 1
        <if test="paramCondition.thesisUser != null and paramCondition.thesisUser != ''">
            and thesis_user like CONCAT('%',#{paramCondition.thesisUser},'%')
        </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.thesis.model.params.ThesisParam">
        select
        <include refid="Base_Column_List"/>
        from thesis where 1 = 1
    </select>

</mapper>
