<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.expert.mapper.ReviewMajorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.expert.entity.ReviewMajor">
        <id column="review_id" property="reviewId" />
        <result column="direct" property="direct" />
        <result column="thesis_count" property="thesisCount" />
        <result column="review_count" property="reviewCount" />
        <result column="refuse_count" property="refuseCount" />
        <result column="major_type" property="majorType" />
        <result column="apply_from" property="applyFrom" />
        <result column="check_status" property="checkStatus" />
        <result column="apply_time" property="applyTime" />
        <result column="agree_time" property="agreeTime" />
        <result column="refuse_time" property="refuseTime" />
        <result column="cancel_time" property="cancelTime" />
        <result column="belong_domain" property="belongDomain" />
        <result column="id_card_type" property="idCardType" />
        <result column="id_card" property="idCard" />
        <result column="account_province" property="accountProvince" />
        <result column="account_city" property="accountCity" />
        <result column="bank" property="bank" />
        <result column="union_number" property="unionNumber" />
        <result column="account_bank" property="accountBank" />
        <result column="personal_account" property="personalAccount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        review_id AS "reviewId", direct AS "direct", thesis_count AS "thesisCount", review_count AS "reviewCount", refuse_count AS "refuseCount", major_type AS "majorType", apply_from AS "applyFrom", check_status AS "checkStatus", apply_time AS "applyTime", agree_time AS "agreeTime", refuse_time AS "refuseTime", cancel_time AS "cancelTime", belong_domain AS "belongDomain", id_card_type AS "idCardType", id_card AS "idCard", account_province AS "accountProvince", account_city AS "accountCity", bank AS "bank", union_number AS "unionNumber", account_bank AS "accountBank", personal_account AS "personalAccount"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.expert.model.result.ReviewMajorResult" parameterType="cn.stylefeng.guns.expert.model.params.ReviewMajorParam">
        select
        <include refid="Base_Column_List"/>
        from review_major where 1 = 1
    </select>

    <select id="selectByDomain" resultType="cn.stylefeng.guns.expert.model.result.ReviewMajorResult" parameterType="cn.stylefeng.guns.expert.model.params.ReviewMajorParam">
        select
        <include refid="Base_Column_List"/>
        from review_major where 1 = 1 and belong_domain like CONCAT('%',#{paramCondition.belongDomain},'%')
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.expert.model.params.ReviewMajorParam">
        select
        <include refid="Base_Column_List"/>
        from review_major where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.expert.model.result.ReviewMajorResult" parameterType="cn.stylefeng.guns.expert.model.params.ReviewMajorParam">
        select
        <include refid="Base_Column_List"/>
        from review_major where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.expert.model.params.ReviewMajorParam">
        select
        <include refid="Base_Column_List"/>
        from review_major where 1 = 1
        <if test="userId != null and userId != '' and userId != 0">
            and review_id = #{userId}
        </if>
        <if test="listStatus != null and listStatus != ''">
            and review_id in
            <foreach collection="list" index="index" item="i" open="("
                     separator="," close=")">
                #{i}
            </foreach>
        </if>

    </select>

    <update id="setStatus">
		update review_major set check_status = #{status} where review_id = #{reviewId}
	</update>

    <select id="majorMapList" resultType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from review_major where 1 = 1 and check_status = 'ENABLE'
        and belong_domain = #{domain}
    </select>
</mapper>
        <!--and find_in_set(#{domain}, belong_domain);-->