<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.socialLink.mapper.SocialLinkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.socialLink.entity.SocialLink">
        <id column="link_id" property="linkId" />
        <result column="link_name" property="linkName" />
        <result column="description" property="description" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="sort" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        link_id AS "linkId", link_name AS "linkName", description AS "description", status AS "status", create_time AS "createTime", sort AS "sort"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.socialLink.model.result.SocialLinkResult" parameterType="cn.stylefeng.guns.modular.socialLink.model.params.SocialLinkParam">
        select
        <include refid="Base_Column_List"/>
        from social_link where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.socialLink.model.params.SocialLinkParam">
        select
        <include refid="Base_Column_List"/>
        from social_link where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.socialLink.model.result.SocialLinkResult" parameterType="cn.stylefeng.guns.modular.socialLink.model.params.SocialLinkParam">
        select
        <include refid="Base_Column_List"/>
        from social_link where 1 = 1 and status = 'ENABLE' order by sort asc
    </select>

    <select id="customPageListAll" resultType="cn.stylefeng.guns.modular.socialLink.model.result.SocialLinkResult" parameterType="cn.stylefeng.guns.modular.socialLink.model.params.SocialLinkParam">
        select
        <include refid="Base_Column_List"/>
        from social_link where 1 = 1
        <if test="paramCondition.linkName != null and paramCondition.linkName != ''">
            and link_name like CONCAT('%',#{paramCondition.linkName},'%')
        </if>
        order by sort asc
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.socialLink.model.params.SocialLinkParam">
        select
        <include refid="Base_Column_List"/>
        from social_link where 1 = 1
    </select>

    <update id="setStatus">
		update social_link set status = #{status} where link_id = #{linkId}
	</update>
</mapper>
