<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.socialForum.mapper.SocialForumMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.socialForum.entity.SocialForum">
        <id column="forum_id" property="forumId" />
        <result column="forum_name" property="forumName" />
        <result column="forum_desc" property="forumDesc" />
        <result column="apply_status" property="applyStatus" />
        <result column="unit_name" property="unitName" />
        <result column="unit_place" property="unitPlace" />
        <result column="manager" property="manager" />
        <result column="mana_phone" property="manaPhone" />
        <result column="mana_email" property="manaEmail" />
        <result column="already_meet" property="alreadyMeet" />
        <result column="sup_plate" property="supPlate" />
        <result column="sup_money" property="supMoney" />
        <result column="contract_path" property="contractPath" />
        <result column="apply_time" property="applyTime" />
        <result column="apply_id" property="applyId" />
        <result column="contract_name" property="contractName" />
        <result column="remarks" property="remarks" />
        <result column="credit_code" property="creditCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        forum_id AS "forumId", forum_name AS "forumName", forum_desc AS "forumDesc", apply_status AS "applyStatus", unit_name AS "unitName", unit_place AS "unitPlace", manager AS "manager", mana_phone AS "manaPhone", mana_email AS "manaEmail", already_meet AS "alreadyMeet", sup_plate AS "supPlate", sup_money AS "supMoney", contract_path AS "contractPath", apply_time AS "applyTime", apply_id AS "applyId", contract_name AS "contractName", remarks AS "remarks", credit_code AS "creditCode"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.socialForum.model.result.SocialForumResult" parameterType="cn.stylefeng.guns.modular.socialForum.model.params.SocialForumParam">
        select
        <include refid="Base_Column_List"/>
        from social_forum where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.socialForum.model.params.SocialForumParam">
        select
        <include refid="Base_Column_List"/>
        from social_forum where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.socialForum.model.result.SocialForumResult" parameterType="cn.stylefeng.guns.modular.socialForum.model.params.SocialForumParam">
        select
        <include refid="Base_Column_List"/>
        from social_forum where apply_id = #{paramCondition.applyId} and forum_name like #{paramCondition.forumName}
    </select>

    <select id="customPageListAdmin" resultType="cn.stylefeng.guns.modular.socialForum.model.result.SocialForumResult" parameterType="cn.stylefeng.guns.modular.socialForum.model.params.SocialForumParam">
        select
        <include refid="Base_Column_List"/>
        from social_forum where 1 = 1 and forum_name like #{paramCondition.forumName}
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.socialForum.model.params.SocialForumParam">
        select
        <include refid="Base_Column_List"/>
        from social_forum where 1 = 1
    </select>

</mapper>
